<div id="contenedor-artist-search" style="position: relative; text-align: center;">
    <img src="/images/spotify-background.jpeg" style="width: 100%; height: auto;">
    <form action="/artist-search" method="GET" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <input type="text" name="artist" placeholder="Nombre del artista">
        <button type="submit" style="background-color: rgba(255, 0, 0, 0.5); color: white; opacity: 0.8;">Buscar</button>
    </form>
</div>
